# Gradle
.gradle/
build/

# Local config
local.properties

# Log/OS files
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Profiling
*.hprof
